:root {
  --poker-green: #043927; /* Verde scuro del tavolo */
  --poker-red: #b22222; /* Rosso mattone */
  --poker-red-hover: #8b0000; /* Rosso scuro per hover */
  --poker-gold: #ffd700; /* Oro per accenti */
  --poker-dark-green: #062e24; /* Verde più scuro per sfondi */
  --poker-light-text: #ffffff; /* Bianco per testo */
}

/* Generale */
body {
  font-family: "Arial", sans-serif;
  background-color: var(--poker-green);
  color: var(--poker-light-text);
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--poker-gold);
  text-align: center;
  margin: 20px 0;
  font-size: 2.5rem;
  text-shadow: 2px 2px #000;
}

h2 {
  color: var(--poker-light-text);
  border-bottom: 2px solid var(--poker-gold);
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--poker-dark-green);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

/* Tabelle */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th {
  background-color: var(--poker-red);
  color: var(--poker-light-text);
  padding: 10px;
  border: 1px solid var(--poker-gold);
  text-align: center;
}

td {
  background-color: var(--poker-dark-green);
  color: var(--poker-gold);
  padding: 10px;
  border: 1px solid var(--poker-gold);
  text-align: center;
}

tr:nth-child(even) td {
  background-color: #052e20; /* Alternanza leggermente più chiara */
}

/* Pulsanti */
button {
  background-color: var(--poker-red);
  color: var(--poker-light-text);
  border: none;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:active {
  transform: scale(0.95);
}

button:hover {
  /*background-color: #ff6347;*/ /* Rosso chiaro */
  background-color: var(--poker-red-hover);
  box-shadow: 0px 0px 10px var(--poker-gold); /* Effetto oro al passaggio */
}

/* Input */
input[type="number"],
input[type="text"] {
  width: 90%;
  padding: 8px;
  border: 2px solid var(--poker-gold);
  border-radius: 5px;
  background-color: var(--poker-dark-green); /* Verde scuro */
  color: var(--poker-light-text);
}

input[type="number"]:focus,
input[type="text"]:focus {
  border-color: var(--poker-red);
  outline: none;
}

/* Risultati */
#baseValueResult,
#playersValueResult,
#distributionResult {
  background-color: var(--poker-dark-green);
  color: var(--poker-gold);
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px;
  border: 1px solid var(--poker-gold);
}

#playersValueResult ul {
  list-style: none;
  padding: 0;
}

#playersValueResult li {
  margin: 5px 0;
  padding: 5px;
  background-color: var(--poker-dark-green);
  border-radius: 5px;
}

/* Mobile */
@media (max-width: 600px) {
  body {
    font-size: 90%;
  }

  table {
    font-size: 12px;
  }

  button {
    padding: 8px 10px;
  }
}
